@using RegistryManagmentV2.Models.Domain
@model Tuple<RegistryManagmentV2.Models.CatalogViewModel, List<UserGroup>>

@{
    ViewBag.Title = "Створити";
    <link href="~/Content/selectize.css" rel="stylesheet" />
    <link href="~/Content/selectize.default.css" rel="stylesheet" />
    <link href="~/Content/selectize.bootstrap3.css" rel="stylesheet" />
}

<h2>Створити</h2>


@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Item1.Id)
    @Html.HiddenFor(model => model.Item1.CatalogId, new {id = "Item1_CatalogId", Value = Request.Params["catalogId"] })
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Каталог</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Item1.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*<input value=@Request.Params["catalogId"] id="Item1_CatalogId" name="CatalogId" type="hidden">*@
                <input class="form-control text-box single-line" data-val="true" data-val-required="Требуется поле Name." id="catalog.Name" name="Name" type="text" value="">
                @Html.ValidationMessageFor(model => model.Item1.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Item1.SecurityLevel, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Item1.SecurityLevel, new { htmlAttributes = new { @class = "form-control", min = 1, max = 10 } })
                @Html.ValidationMessageFor(model => model.Item1.SecurityLevel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Виберіть користувацькі групи</label>

            <div class="col-md-3">
                <input id="select-with-type" name="Groups" />
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Створити" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Повернуись до ресурсів", "Index", "Catalog")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/selectize.jquery.js"></script>
    <script src="~/Scripts/selectize.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            let groups = @Html.Raw(Json.Encode(@Model.Item2.Select(group => group.Name)));
            groups.forEach((group, i) => groups[i] = { "value": group, "name": group});
            console.log(groups);
            $("#select-with-type").selectize({
                options: groups,
                labelField: 'name',
                searchField: ['name'],
                placeholder: "Введіть назву групи",
                create: input => {
                    return {
                        value: name,
                        text: name
                    }
                }
            });
        });
    </script>

}
