@model IEnumerable<RegistryManagmentV2.Models.Domain.Resource>

@{
    ViewBag.Title = "Index";
}

<h2>Ресурси</h2>

<p>
    @Html.ActionLink("Створити", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Title)*@
            Назва
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Description)*@
            Опис
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Language)*@
            Мова
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Format)*@
            Формат
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Format)
            </td>
            <td>
                @Html.ActionLink("Редагувати опис", "Edit", new { id=item.Id }) |

                @Html.ActionLink("Відкрити", "Details", new { id=item.Id }) |
                @Html.ActionLink("Видалити", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

</table>
